<div class="form-signin">
	<div class="text-center">
	    <h3><%= lbl_login %></h3>
	</div>
	<hr>
	<div class="tab-content">
	    <div id="login" class="tab-pane active">
	          <div><input type="text" placeholder="Username" class="form-control top" id="fm-login" ></div>
	          <div><input type="password" placeholder="Password" class="form-control bottom" id="fm-password" ></div>
	          <div class="checkbox">
			      <label>
			        <input type="checkbox"><%= lbl_saveUserID %>
			      </label>
		       </div>
	          <button class="btn btn-lg btn-primary btn-block" id="btn-login"><%= lbl_login %></button>
	    </div>
	</div>
</div>