<!-- body { min-width:760px;} -->

#menu > li.active ul > li.selected > a {background-color: #415875;font-weight:600;}

.pq-grid .pq-pager {text-align:center;}

.header-title {
	background-image: linear-gradient(180deg,#fff 0,#f2f2f2);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
    border-bottom: 1px solid #d4d4d4;
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.outer { padding: 5px !important;}
.inner {border: 0px !important;border-radius : 4px; padding : 10px;}

#main-editor { position: absolute;border-radius : 4px;background-color: #ffffff;display:none;}
#main-editor .panel { margin-bottom : 0;}
#main-editor .panel-body {color : #333; }

.box header h5 { padding:5px; }
.box .pull-right { padding:2px; } 

.search-area {display:inline-block;padding-bottom:5px !important;}
.search-area .form-group { position:relative; float:left; width: 33.33333333%; min-height: 1px; margin-bottom:0px !important; padding-right: 10px; padding-left: 10px;}
.search-area .form-group span {padding: 6px 12px;font-weight: 500;}
.search-area .form-group input {min-width:50%; border-radius: 4px;color: #555;border: 1px solid #ccc;padding: 3px 6px;}
.search-area .form-group select {min-width:50%; border-radius: 4px;color: #555;border: 1px solid #ccc;padding: 3px 6px;}

@media ( min-width:768px ) {
    .head .main-bar {background-color:#827e7e}
    .head .main-bar h3 {color:#ffffff; }
    
    #main-editor {
        position: relative;
        width   : 100%;
        border-radius : 4px;
        background-color: #ffffff;
    }
}
